# yii console command
#/yii

# phpstorm project files
.idea
# sublime-text project file
.sublime-project

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
#/vendor
vendor/.git
vendor/*/.git
vendor/*/*/.git

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml
